<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Allocation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="../static/style/style.css">
</head>


<!-- section 1 -->
<section>
    <div class="img">
      <!-- <img src="greyheader.png" width="400px" height="50px" alt=""> -->
      <img src="../static/image/greyheader.png" alt="">
    </div>
    <ul>
        <li>About</li>
        <li>Administration</li>
        <li>Admissions</li>
        <li>Acadmics</li>
        <li>Campuses</li>
        <li>Campus life</li>
        <li>Publications</li>
    </ul>
</section>




<div class="container">
<h1 class="main " >Teachers Allocation</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col">Teacher Id</th>
      <th scope="col"> Teacher Name</th>
      <th scope="col">Faculty</th>
      <th scope="col"> Action</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
        <td>{{student.id}}</td>
        <th scope="row"> {{student.teaher_id}}  </th>
        <td>{{student.name}}</td>
        <td><a href="#">{{student.faculty}}</a></td>
        <td>
          <button type="button" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
    <tr>
   {% endfor  %}
       
       
        
  </tbody>
</table>
</div>



    <div class="container-2">
        <div class="row">
            <div class="copy-right">
                <p>© 2022 The Islamia University of Bahawalpur iub.edu.pk</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <body>
    
  </body>
  </html>